#head{
    font-family: 'Arimo', sans-serif;
    text-align: center;
    color:black;
    width:100%;
    font-size: 35px;
    margin-bottom: 25px;

}
img{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.body{
    background:white;
}
.download{
    cursor: pointer;
}

.info{ font-family: fantasy;

}
.points{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.end{
    font-family: 'Times New Roman', Times, serif;
}

.download{
    height: 100px;
    width: 100px;
    border-radius: 40px;
}